body {
  background-color: #242B94;
}

#Content {
  width: 600px;
  margin: auto;
  background-color: #FFF;
  color: #FFF;
}

#HeaderBox {
  border: 2px solid #000000;
  text-align: center;
  background-color: #f7419f;
}

#MenuBox {
  border: solid 1px #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #795b69;

}

div {
  border: 1px solid #000;
  margin: 10px;
  background-color: #9aa8b0;
}

.linkBox {
  display: inline;
  margin: 20px;
  padding: 4px;
  background-color: #FFF;
  box-shadow: 5px 5px #000;
}

.blogBox img {
  float: center;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  height: 90%;
  width: 90%;
}

#showButton {
  padding: 4px;
  margin: 10px;
}

p {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #524876;
  border-radius: 5px;
}

a {
  color: #FFF;
  text-decoration: none;
}
